.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mid {
  background-color: aqua;
  display: inline-block;
  width: 63%;
  margin: auto;
}

.navbar {

  display: inline-block;
}




.navbar li {

  list-style: none;
  display: inline-block;

  margin: auto;
}

.navbar li a {
  text-decoration: none;
  color: rgb(29, 25, 231);
  font-size: 18px;
  padding: 8px 20px;
}

.navbar li a:hover {
  color: rgb(151, 7, 247);
  border: darkmagenta;
  border-radius: 2px;
  font-size: 20px;
}

.navbar li a:active {
  background-color: deepskyblue;
  border-radius: 5px;
}

.right {
  background-color: aqua;
  display: inline-block;
  width: 8%;

  font-size: 18px;
  padding: 18px 26px;
  color: #1d19e7;
}

.right {
  background-color: aqua;
  display: inline-block;
  width: 8%;

  font-size: 18px;
  padding: 18px 26px;
  color: #1d19e7;
}

.right a {
  text-decoration: none;
}

.right:hover {
  font-weight: bolder;
}

.left {
  background-color: aqua;
  display: inline-block;
  width: 17%;
  font-size: 18px;
  padding: 18px 17px;
  color: #1d19e7;


}

.left a {
  text-decoration: none;
}

.left:hover {
  font-weight: bolder;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 30px;
  text-align: center;
      height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}

thead {
  top: 0;
  position: sticky;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.column {
  -webkit-flex-direction: column;
  flex-direction: column;
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-size: 17px;
  text-align: center;
      height: 100%;
      position: absolute;
        left: 1%;
}
.resource-list {
      background-color: rgb(119 136 196 / 80%);
        border: 3px solid rgba(0, 0, 0, 0.8);
        padding: 14px;
        font-size: 14px;
        text-align: center;
        margin-top: 3px;
        /* height: 100%; */
        color: white;
}
.resource-list:hover {
        background-color: rgba(179, 185, 207, 0.8);
}